
        @font-face {
            font-family: titulo;
            src: url(fonts/rickMorty4.ttf);
        }

        @font-face {
            font-family: subtitulo;
            src: url(fonts/rickMorty1.ttf);
        }

        body {
            background-color: rgba(0, 0, 0, 0.774);
            overflow-x: hidden;
            margin: 0px;
            padding: 0px;
        }
        .fotos {
            display: grid;
            grid-template-columns: 300px 300px 300px 300px;
            justify-content: center;
            gap: 20px;
        }

        .foto {
            max-width: 300px;
        }

        .contenedor-cabecera {
            overflow: hidden;
            position: relative;
            padding-top: 5px;
        }

        .contenedor-datos {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            background-color: rgb(36, 36, 36);
            padding: 15px;
            border-bottom-left-radius: 7px;
            border-bottom-right-radius: 7px;
        }

        .contenido {
            color: white;
            text-align: center;
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid rgb(136, 136, 136);
        }

        .contenido p:first-child {
            text-transform: uppercase;
            color: rgb(158, 158, 158)
        }

        .contenido p:last-child {
            color: rgb(230, 162, 36);
        }

        .imagen-front {
            width: 300px;
            height: 300px;
            border-top-left-radius: 7px;
            border-top-right-radius: 7px;
            margin-bottom: 0;
        }

        .titulo-foto {
            width: 100%;
            background-color: rgb(22, 23, 26);
            opacity: 0.8;
            position: absolute;
            bottom: 0px;
            padding: 0.625rem;
            margin: 0;
        }

        .titulo-foto h2 {
            color: white;
            font-stretch: expanded;
            font-weight: 400;
            font-size: 1.625rem;
            margin: 5px;
            margin-left: 0;
        }

        .titulo-foto p {
            font-size: 0.875rem;
            color: white;
            margin: 0;
        }

        @media (max-width: 1275px) {

            .fotos {
            grid-template-columns: 300px 300px 300px;
            }

        }

        @media (max-width: 960px) {

            .fotos {
            grid-template-columns: 300px 300px;
            }
        }

        @media (max-width: 630px) {
            
            .fotos {
            grid-template-columns: 300px 300px 300px;
            }
        }

        .titulo {
            font-family: titulo;
            color: #0BAFCB;
            text-shadow: -1px -1px 5px #CBE44E;
            font-size: 7em;
            margin-bottom: 15px;
            margin-top: 15px;
            letter-spacing: 5px;
        }

        .subtitulo {
            font-family: subtitulo;
            color: white;
            font-size: 5em;
            margin-top: 0;
            margin-bottom: 0;
        }

        header {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
        }

        hr {
            color: white;
            width: 80%;
            margin: auto;
            box-shadow: 0px 0px 15px 0px #CBE44E;
        }

        .opciones {
            width: 70%;
            margin: auto;
            text-align: justify;
            color: white;
            letter-spacing: 2px;
            margin-bottom: 30px;
            font-size: 1.1em;
        }

        button {
            padding: 10px;
            font-size: 1em;
            background-color: #0BAFCB;
            border: 0;
            transition: all 0.4s;
            border-radius: 7px;
        }

        button:hover {
            background-color: #CBE44E;
            transform: scale(1.2);
        }

        #nombre {
            height: 35px;
            font-size: 1em;
            margin-left: 5px;
        }

        #genero-enviar {
            margin-left: 15px;
        }

        h3 {
            text-decoration: underline;
        }

        strong {
            color:#CBE44E;
        }

        footer {
            border-top: 1px solid white;
            text-align: center;
            color: white;
        }
